html, body {
  margin: 0;
  width: 100%;
  font-family: 'Press Start 2P', sans-serif;
  font-weight: 400;
  background-color: #1E1D1D;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 22px;
}

header {
  margin-top: 120px;
}

button {
  text-decoration: none;
}

.heading {
  display: block;
  text-align: center;
  color: #fff;
}

.heading h1 {
  font-size: 36px;
}

.pokedex-logo {
  width: 100px;
  height: 70px;
  border-radius: 10px;
  margin: 10px;
}

nav {
  background-color: #1E1D1D;
}

@media all and (min-width: 960px) {
  nav {
    display: flex;
  }
}

.nav-item {
  padding: 4px;
}

.navbar-toggler {
  margin: 30px;
  float: right;
}

.navbar-nav {
  background-color: #1E1D1D;
  margin-left: 10px;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.wrapper li {
  display: flex;
  justify-content: center;
  margin: 6px;
  text-align: center;
  background-color: #8BE9CA;
  color: red;
  width: 240px;
  height: 50px;
  border: 0.5px outset;
  font-size: 15px;
  border-radius: 15px;
}

li button {
  background-color: #8BE9CA;
  border: none;
}

.list-group {
  display: grid;
  margin: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media all and (max-width: 1310px) {

  .list-group {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media all and (max-width: 1080px) {

  .list-group {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (max-width: 800px) {

  .list-group {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 540px) {

  .list-group {
    grid-template-columns: 1fr;
  }
}

.modal-body {
  text-align: center;
}
.modal-body img {
  height: 160px;
  width: 160px;
}
button:hover, button:focus {
  cursor: pointer;
  opacity: 0.8;
}
